@page
@model Pokemon.Pages.PokemonModel

<link href="~/css/ListStyle.css" rel="stylesheet" />
<link href="~/css/DetailStyle.css" rel="stylesheet"/>
@{

    
    <table class="ListTable">
     
        @for(int i=0; i < Model.MainPokemonList.PokemonsList.Count; i+= 6)
        {
            <tr>
               @for (var j = 0; j < 6 && i + j < Model.MainPokemonList.PokemonsList.Count; j++)
               {
                     <td>
                        <div class="PokeCard" id="IndexCard">
                            <a asp-page="Details" asp-route-Id=@Model.MainPokemonList.PokemonsList[i+j].Id>  
                            <img src=@Model.MainPokemonList.PokemonsList[i+j].ImageUrl width="100" height="100" />
                            <p class="PokeName"> @Model.MainPokemonList.PokemonsList[i+j].Name.Substring(0,1).ToUpper()@Model.MainPokemonList.PokemonsList[i+j].Name.Substring(1,@Model.MainPokemonList.PokemonsList[i+j].Name.Length - 1) </P>
                                <br>
                              <p class="PokeId" >#@Model.MainPokemonList.PokemonsList[i + j].Id</p>
                            </a>
                        </div>
                     </td>
               }
            </tr>   
        }
      
            
    </table>
  
   }
